*{
    box-sizing: border-box;
}

body{
    background-color: black;
    font-size: 16px;
    color: #ffffff;
    height: 100vh;
    font-family: 'Open Sans';
    @extend .flex-center;
    flex-direction: column;
}

.logoAndSelection{
    min-width: 200px;
    padding: 30px;
    margin-top: auto;
    @extend .flex-center;
    flex-direction: column;
    transition: all 1s ease-in-out ;

}

.selection{
    @extend .flex-center;
    flex-direction: column;
    transition: all 1s ease-in-out ;
}

img.logo{
    margin: 0 auto;
    width: auto;
    max-width: 100%;
    display: block;
    transition: all 1s ease-in-out ;
    
}

.active img{
    max-height:150px;
}

header.active{
    max-height: 300px;
}

.selection p{
    margin: 15px;
    font-size: 0.8rem;
}

select{
    font-size: 1.125rem;
    width: 120px;
}

.loading{
    display: none;
    margin: 0 auto;
    transform: translateY(-100px);
        img{
            max-width: 50px;
        }
}

div.results{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.box { //target p with &:hover --> on css it looks like &:hover p{}
    p {
        transition: .5s;
    }
    &:hover {
        p {
            opacity: 1;
        }
    }
}


a {
    text-decoration: none;
    color: #ffffff;
}

p.copyright{
    color: #c2c2c2;   
    font-size: 0.875rem;
    margin-bottom: 40px;
}

footer{
    margin-top: auto;
}

.story{
    height: 400px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

p.abstract{
    background-color: rgba(0,0,0,0.6);
    line-height: 1.5;
    padding: 10px;
}

.hidden {
    opacity: 0;
}

@media all and (min-width:600px){
    .logoAndSelection{
        flex-direction: row;
        width: auto;
        transform:translateX(-90px);
    }

    .selection p{
        margin-left: 0;
        margin-right: 0;
        margin-top: 0;
        font-size: 0.9rem;
    }

    .selection{
        align-items: flex-start;
        justify-content: left;
    }

    .loading{
        transform: translateY(0)
    }

    img.logo{
        width: 20vw;
        height: auto; 
    }

    .active img{
        max-height: 80px;
    }

    header.active{
        align-self: flex-start;
        margin-left: 100px;
    }

    div.results {
        flex-direction: row;
        flex-wrap: wrap;
    }   

    .box {
        width: 50%;
        flex-grow: 1;
        flex-shrink: 1;
    }
}

@media all and (min-width:1000px){
    .box {
        width: 25%;
        flex-grow: 1;
        flex-shrink: 1;
    }

    .selection p{
        font-size: 1.0rem;
    }

    header.active{
        margin-left: 0px;
    }

    body{
        align-items: left;
        justify-content: left;
    }

    p.copyright{
        padding: 30px;
        margin-bottom: 0;
    }

    .logoAndSelection{
        transform:translateX(0px);
    }

    .selection{
        padding-left: 50px;
        padding-right: 50px;
    }

    .active img{
        width: auto;
    }

    .active .selection{
        padding-left: 100px;
    }
}