*{
    box-sizing: border-box;
}

body{
    background-color: black;
    font-size: 16px;
    color: #ffffff;
    height: 100vh;
    font-family: 'Open Sans';
    @extend .flex-center;
    flex-direction: column;
}

header{
    margin-top: auto;
    @extend .flex-center;
    flex-direction: column;
    max-width: 60%;
    transition: all 1s ease-in-out ;
}

.selection{
    @extend .flex-center;
    flex-direction: column;

}
img.logo{
    height: auto;
    width: 100%;
}

.active img{
    max-height:150px;
}

header.active{
    max-width: 40%;
    padding: 30px 0 40px 0;
}

.selection p{
    margin: 15px 0px;
    font-size: 0.8rem;
    width: 150px;
    text-align: center;
}

select{ //EXPAND SELECTRIC WIDTH
    width: 150px;
}

.loading{
    display: none;
    transform: translateY(-100px);
        img{
            max-width: 50px;
        }
}

div.results{
    display: flex;
    flex-direction: column;
    width: 100%;
}

//Animation from Animista: http://animista.net
 @-webkit-keyframes flip-in-hor-top {
    0% {
      -webkit-transform: rotateX(-80deg);
              transform: rotateX(-80deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateX(0);
              transform: rotateX(0);
      opacity: 1;
    }
  }
  @keyframes flip-in-hor-top {
    0% {
      -webkit-transform: rotateX(-80deg);
              transform: rotateX(-80deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateX(0);
              transform: rotateX(0);
      opacity: 1;
    }
  }

.box { 
    p {
        transition: 0.7s;
    }
    &:hover {
        p {
            opacity: 1;
            animation: flip-in-hor-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        }
    }
}

a {
    text-decoration: none;
    color: #ffffff;
}

p.copyright{
    color: #c2c2c2;   
    font-size: 0.875rem;
    margin: 30px 30px 40px 30px;
}

footer{
    margin-top: auto;
}

.story{
    height: 400px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

p.abstract{
    background-color: rgba(0,0,0,0.6);
    line-height: 1.5;
    padding: 10px;
}

.hidden {
    opacity: 0;
}

@media all and (min-width:600px){
    header{
        flex-direction: row;
        justify-content: space-between;
        max-width: 50%;
        transform:translateX(-40px);
    }

    header.active{
        max-width: 60%;
        transform: translateX(0);
    }

    .selection p{
        font-size: 0.9rem;
        text-align: left;
    }

    .selection{
        align-items: flex-start;
        justify-content: left;
        transform: translateY(-20px);
        padding: 15px;
        .active &{
            width: 70%;
            margin: 15px;
            transform: translateY(-10px);
        }
    }

    .loading{
        transform: translateY(0px);
    }

    img.logo{
        height: auto;
        width: 100%;
    }

    .active img{
        max-height: 70px;
        width: auto;
        margin-left: 110px;
        margin-right: 60px;
    }

    header.active{
        align-self: flex-start;
        padding: 0px;
        max-width: none;
    }

    div.results {
        flex-direction: row;
        flex-wrap: wrap;
    }   

    .box {
        width: 50%;
        flex-grow: 1;
        flex-shrink: 1;
    }
}

@media all and (min-width:1000px){
    .box {
        width: 25%;
        flex-grow: 1;
        flex-shrink: 1;
    }

    .selection p{
        font-size: 1.0rem;
    }

    body{
        align-items: flex-start;
        justify-content: left;
    }

    header{
        transform: translateX(0px);
        justify-content: space-between;
        width: 42%;
        max-width: 480px;
        margin-left: 30px;
    }

    .active img{
        margin-left: 0px;
    }

    .loading {
        margin: 0 auto;
    }
}
