*{
    box-sizing: border-box;
}

body{
    background-color: black;
    font-size: 16px;
    color: #ffffff;
    height: 100vh;
    font-family: 'Open Sans';
    @extend .flex-center;
    flex-direction: column;
}

header{
    margin-top: auto;
    @extend .flex-center;
    flex-direction: column;
    max-width: 60%;
    transition: all 0.5s ease-in-out ;
}

.selection{
    @extend .flex-center;
    flex-direction: column;
}

img.logo{
    height: auto;
    width: 100%;
}

.active img{
    max-height:150px;
}

header.active{
    max-width: 40%;
    padding: 30px 0 40px 0;
    height: auto;
}

.selection p{
    margin: 15px 0px;
    font-size: 0.8rem;
    width: 150px;
    text-align: center;
}

select{
    width: 150px;
}

.loading{
    display: none;
    transform: translateY(-100px);
        img{
            max-width: 50px;
        }
}

div.results{
    display: flex;
    flex-direction: column;
    width: 100%;
}

a {
    text-decoration: none;
    color: #ffffff;
}

p.copyright{
    color: #c2c2c2;   
    font-size: 0.875rem;
    margin: 30px 30px 40px 30px;
}

footer{
    margin-top: auto;
}

.story{
    height: 400px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

p.abstract{
    background-color: rgba(0,0,0,0.6);
    line-height: 1.5;
    padding: 10px;
}

.hidden {
    opacity: 1;
}

@media all and (min-width:600px){

    body{
        align-items: flex-start;
        justify-content: flex-start;
    }

    header{
        flex-direction: row;
        max-width: 50%;
        transform:translateX(-35px);
        margin: auto auto 0 auto;
    }

    header.active{
        margin: 0;
        margin-left: 90px;
        max-width: 50%;
        transform: translateX(0px);
        height: 8.5rem;
        justify-content: center;
        align-items: flex-start;
    }

    .selection p{
        font-size: 0.9rem;
        text-align: left;
    }

    .selection{
        align-items: flex-start;
        justify-content: center;
        transform: translateY(-20px);
        padding: 15px;
        .active &{
            width: 70%;
            margin-left: 80px;
            padding: 0px;
            transform: translateY(-10px);
        }
    }

    .loading{
        transform: translateY(0px);
        margin: 0 auto;
    }

    img.logo{
        height: auto;
        width: 100%;
    }

    .active img{
        max-height: 70px;
        width: auto;
    }

    div.results {
        flex-direction: row;
        flex-wrap: wrap;
    }   

    .box {
        width: 50%;
        flex-grow: 1;
        flex-shrink: 1;
    }

    footer{
        width: 100%;
    }

    p.copyright{
        text-align: center;
    }
}

@media all and (min-width:1000px){

    //Animation from Animista: http://animista.net
 @-webkit-keyframes flip-in-hor-top {
    0% {
      -webkit-transform: rotateX(-80deg);
              transform: rotateX(-80deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateX(0);
              transform: rotateX(0);
      opacity: 1;
    }
  }
  @keyframes flip-in-hor-top {
    0% {
      -webkit-transform: rotateX(-80deg);
              transform: rotateX(-80deg);
      opacity: 0;
    }
    100% {
      -webkit-transform: rotateX(0);
              transform: rotateX(0);
      opacity: 1;
    }
  }

    .box {
        width: 25%;
        flex-grow: 1;
        flex-shrink: 1;
        p { 
            transition: 0.7s;
        }
        &:hover {
            p {
                opacity: 1;
                animation: flip-in-hor-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            }
        }
    }

    .hidden {
        opacity: 0;
    }

    .selection p{
        font-size: 1.0rem;
    }

    body{
        align-items: flex-start;
        justify-content: center;
    }

    header{
        transform: translateX(0px);
        justify-content: space-between;
        width: 42%;
        max-width: 480px;
        margin-left: 30px;
    }

    header.active{
        margin-left: 30px;
        width: auto;
        max-width: none;
        transform: translateX(0px);
    }

    .active .selection{
        margin: 0px;
        transform: translateY(-15px);
        margin-left: 80px;
        width: auto;
    }

    .active img{
        width: auto;
    }

    .loading {
        margin: 0 auto;
    }

    p.copyright{
        text-align: left;
    }
}
